@media (max-width:440px) {
    section,
    #production::before {
        display: none !important;
    }
    #contact_forms,
    #product,
    #history_brand,
    #production,
    #about,
    #consultation,
    #news {
        display: block !important;
    }
    header {
        display: none;
    }
    #about {
        overflow-x: hidden;
    }
    .card_slider_content {
        display: none;
    }
    .about_title {
        margin-left: 0;
        margin-top: 30px;
    }
    .s_content {
        width: 123%;
    }
    .s_content img {
        z-index: 0;
        right: -130px;
    }
    .about {
        padding: 0 15px;
    }
    .about_title {
        position: relative;
        z-index: 3;
        padding: 0 15px 10px 15px;
    }
    .about_title p {
        display: none;
    }
    .mySwiper .swiper-slide {
        flex-direction: column;
        padding: 0 40px;
    }
    .swiper_about {
        padding: 0 40px;
    }
    .new_series_content div {
        padding-left: 0;
    }
    .new_series_content {
        gap: 25px;
    }
    .new_series_content div {
        gap: 34px;
    }
    .mySwiper .swiper-pagination {
        top: 320px;
        left: 130px;
        bottom: unset;
    }
    #production {
        height: unset;
        padding-top: 60px;
    }
    .production {
        flex-direction: column;
        padding: 60px 10px 300px 30px;
        gap: 30px;
    }
    .video_box {
        padding-right: 20px;
    }
    .s_content img {
        width: 100%;
    }
    .production_title {
        order: 1;
        padding-left: 60px;
        margin-left: 0;
        position: relative;
        margin-top: 20px;
    }
    .production_exp {
        padding-top: 0;
    }
    .video_box p,
    .production_title p {
        padding-left: 0;
    }
    .production_title::before {
        position: absolute;
        left: 0;
        top: 0;
    }
    .production_title h2 {
        font-size: 20px;
    }
    .production_title p {
        margin-top: 10px;
        font-size: 14px;
    }
    .video_box {
        position: unset;
    }
    .video_box::before {
        left: 20px;
        right: unset;
        bottom: -8px;
    }
    #history_brand {
        padding-bottom: 60px;
    }
    .brand_content {
        position: relative;
    }
    .brand_title {
        padding: 0 40px;
    }
    h3 {
        font-size: 20px;
    }
    .brand_title p br {
        display: none;
    }
    .brand_title p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 40px;
    }
    .brand_title img {
        width: 200px;
        margin: 20px 0 30px;
    }
    .brand_content {
        overflow-x: scroll;
        /* Оставляем прокрутку */
        overflow-y: hidden;
        /* Скрываем вертикальную прокрутку */
        margin-top: 0;
        padding-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
        gap: 40px;
        /* Скрытие полосы прокрутки */
        scrollbar-width: none;
        /* Для Firefox */
    }
    .brand_content::-webkit-scrollbar {
        display: none;
        /* Для Chrome, Safari и Edge */
    }
    .brand_card {
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        min-width: 200px;
    }
    .bc_one_pc {
        display: none;
    }
    .brand_content .brand_card img {
        top: -60px;
        left: -25px;
    }
    .bc_one_mob {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .bc_one_mob img {
        width: 130px;
    }
    .bc_one_mob p {
        margin-top: 30px;
        padding-left: 50px;
        font-size: 12px;
        max-width: 200px;
    }
    .productSwiper .swiper-wrapper {
        padding: 0 40px;
    }
    .productSwiper .swiper-wrapper .swiper-slide {
        width: 185px;
    }
    .card_slider {
        width: 185px;
        background: url(../img/effects/ab_card_mob.png);
    }
    .card_slider_img {
        width: 100%;
        height: 186px;
    }
    .card_slider_img img {
        width: 75%;
    }
    .card_slider_info {
        background-image: none !important;
        padding: 10px;
    }
    .card_slider_btn {
        top: 20px;
        right: 20px;
    }
    .productSwiper .card_slider:hover~.card_slider_btn {
        top: 0;
    }
    .productSwiper {
        padding-right: 80px;
        padding-bottom: 90px;
    }
    .btn_mob {
        position: absolute;
        bottom: 0;
        height: 27px;
        width: 100%;
    }
    .swiper-button-next {
        right: 15px;
    }
    #product {
        padding: 50px 0 60px;
        margin-top: 50px;
    }
    .product h3 {
        margin-left: 40px;
        max-width: 200px;
        font-size: 24px;
        margin-bottom: 40px;
    }
    .contact_forms {
        flex-direction: column;
        gap: 30px;
    }
    .left_contact,
    .left_content_btn {
        width: 100%;
    }
    .left_content_btn {
        flex-direction: row;
        overflow-y: scroll;
        /* Скрытие полосы прокрутки */
        scrollbar-width: none;
        /* Для Firefox */
        padding-right: 30px;
    }
    .left_contact {
        padding-left: 30px;
    }
    .left_content_btn::-webkit-scrollbar {
        display: none;
        /* Для Chrome, Safari и Edge */
    }
    .left_content_btn button {
        width: 100%;
        min-width: 227px;
    }
    .pc_contact_link {
        display: none;
    }
    .mob_contact_link {
        display: flex !important;
    }
    .form_opt,
    .form_btn {
        flex-direction: column;
    }
    #contact_forms {
        overflow-x: hidden;
        padding: 20px 0 100px;
    }
    .contact_form {
        background-size: cover;
        padding: 50px 20px;
        gap: 50px;
    }
    .contact_form,
    .right_contact {
        width: 100%;
        height: auto;
    }
    .right_contact {
        padding: 0 30px
    }
    .form_title {
        font-size: 22px;
    }
    .form_btn {
        gap: 20px;
    }
    .consult_contact_box {
        flex-direction: column;
        align-items: start;
        gap: 40px;
        margin-top: 10px;
    }
    #consultation {
        overflow-x: clip;
        height: auto;
        padding-bottom: 120px;
    }
    .consultation::after {
        max-width: 214px;
        max-height: 214px;
        top: -200px;
        right: -20px;
    }
    .consult_info {
        padding: 20px 30px 0 30px;
    }
    .consult_info {
        gap: 20px;
    }
    .news_info .bg_btn_w,
    .news_info p {
        display: none;
    }
    .news {
        flex-direction: column;
        gap: 40px;
    }
    .news_content .news_card:nth-child(2),
    .news_content .news_card:nth-child(3) {
        display: none;
    }
    #news {
        padding: 50px 30px 50px 30px;
    }
    .news_info {
        padding-top: 0;
    }
    .news_info h3 {
        font-size: 30px;
    }
    .bg_btn_w_none {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 206px;
        height: 31px;
        background: transparent;
        border-radius: 10px;
        border: 1px solid #858994;
        margin-top: 8px;
    }
    .bg_btn_w_none::before {
        content: url(../img/effects/catalog.png);
        display: block;
        position: absolute;
        left: 0;
    }
    footer {
        padding: 60px 30px 0 30px;
        height: auto;
    }
    .footer,
    .footer_bottom {
        flex-direction: column;
        align-items: start;
    }
    .footer,
    .left_footer {
        gap: 43px;
    }
    .center_footer ul {
        flex-wrap: wrap;
        gap: 25px;
    }
    .catalog_links_footer {
        order: -1;
    }
    .center_footer {
        order: 1;
        gap: 43px;
    }
    #footer_bottom {
        height: auto;
    }
    .footer_bottom {
        padding: 43px 0 60px;
        gap: 20px;
    }
    .footer_bottom a {
        order: -1;
        margin-bottom: 10px;
    }
}

.mob_contact_link {
    display: none;
}