@media (max-width:1480px) {
    .wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .catalog_page_sidebar {
        display: none;
    }
}

@media (max-width:440px) {
    .center_header,
    .left_header button,
    .basket_name,
    .right_header form input {
        display: none;
    }
    .right_header form {
        background: none;
        width: unset;
        padding: unset;
        gap: unset;
    }
    .right_header form button {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14.5px;
        background: #464c58;
    }
    header {
        padding: 20px 0 0 20px;
    }
    header .wrapper {
        padding: 0 !important;
    }
    .left_header a {
        width: 140px;
    }
    .left_header a img {
        width: 100%;
    }
    .right_header {
        gap: 13px;
    }
    .mob_catalog_btn {
        display: flex;
        width: 57px;
        height: 30px;
        background: none;
        align-items: center;
        padding-left: 16px;
        position: relative;
        background: #000;
        border-radius: 10px 0 0 10px;
        border: 1px solid #858994;
        border-right: none;
    }
    #about {
        overflow-x: hidden;
    }
    #about .wrapper {
        padding: 0;
    }
    .card_slider_content {
        display: none;
    }
    .about_title {
        margin-left: 0;
        margin-top: 30px;
    }
    .s_content {
        width: 123%;
    }
    .s_content img {
        z-index: 0;
        right: -130px;
    }
    .about {
        padding: 0 15px;
    }
    .about_title {
        position: relative;
        z-index: 3;
        padding: 0 15px 10px 15px;
    }
    .about_title p {
        display: none;
    }
    .mySwiper .swiper-slide {
        flex-direction: column;
        padding: 0 40px;
    }
    .swiper_about {
        padding: 0 40px;
    }
    .new_series_content div {
        padding-left: 0;
    }
    .new_series_content {
        gap: 25px;
    }
    .new_series_content div {
        gap: 34px;
    }
    .mySwiper .swiper-pagination {
        top: 320px;
        left: 130px;
        bottom: unset;
    }
    #production {
        height: unset;
        padding-top: 60px;
        background-image: url(../img/bg/mob_bg1.png);
        background-size: cover;
    }
    #production::before {
        display: none;
    }
    #product .wrapper {
        padding: 0;
    }
    .production {
        flex-direction: column;
        padding: 0 10px 300px 20px;
        gap: 30px;
    }
    .video_box {
        padding-right: 20px;
    }
    .s_content img {
        width: 100%;
    }
    .production_title {
        order: 1;
        padding-left: 60px;
        margin-left: 0;
        position: relative;
        margin-top: 20px;
    }
    .production_exp {
        padding-top: 0;
    }
    .video_box p,
    .production_title p {
        padding-left: 0;
    }
    .production_title::before {
        position: absolute;
        left: 0;
        top: 0;
    }
    .production_title h2 {
        font-size: 20px;
    }
    .production_title p {
        margin-top: 10px;
        font-size: 14px;
    }
    .video_box {
        position: unset;
    }
    .video_box::before {
        left: 20px;
        right: unset;
        bottom: -8px;
    }
    #history_brand {
        padding-bottom: 60px;
        height: auto;
    }
    .brand_content {
        position: relative;
    }
    .brand_title {
        padding: 0 40px;
    }
    h3 {
        font-size: 20px;
    }
    .brand_title p br {
        display: none;
    }
    .brand_title p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 40px;
    }
    .brand_title img {
        width: 200px;
        margin: 20px 0 30px;
    }
    .brand_content {
        overflow-x: scroll;
        /* Оставляем прокрутку */
        overflow-y: hidden;
        /* Скрываем вертикальную прокрутку */
        margin-top: 0;
        padding-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
        gap: 40px;
        /* Скрытие полосы прокрутки */
        scrollbar-width: none;
        /* Для Firefox */
    }
    .brand_content::-webkit-scrollbar {
        display: none;
        /* Для Chrome, Safari и Edge */
    }
    .brand_card {
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        min-width: 200px;
    }
    .bc_one_pc {
        display: none;
    }
    .brand_content .brand_card img {
        top: -60px;
        left: -25px;
    }
    .bc_one_mob {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .bc_one_mob img {
        width: 130px;
    }
    .bc_one_mob p {
        margin-top: 30px;
        padding-left: 50px;
        font-size: 12px;
        max-width: 200px;
    }
    .productSwiper .swiper-wrapper {
        padding: 0 40px;
    }
    .productSwiper .swiper-wrapper .swiper-slide {
        width: 185px;
    }
    .card_slider {
        width: 185px;
        background: url(../img/effects/ab_card_mob.png);
    }
    .card_slider_img {
        width: 100%;
        height: 186px;
    }
    .card_slider_img img {
        width: 75%;
    }
    .card_slider_info {
        background-image: none !important;
        padding: 10px;
    }
    .card_slider_btn {
        top: 20px;
        right: 20px;
    }
    .productSwiper .card_slider:hover~.card_slider_btn {
        top: 0;
    }
    .productSwiper {
        padding-right: 80px;
        padding-bottom: 90px;
    }
    .btn_mob {
        position: absolute;
        bottom: 0;
        height: 27px;
        width: 100%;
    }
    .swiper-button-next {
        right: 15px;
    }
    #product {
        padding: 50px 0 60px;
        margin-top: 50px;
    }
    .product h3 {
        margin-left: 40px;
        max-width: 200px;
        font-size: 24px;
        margin-bottom: 40px;
    }
    .contact_forms {
        flex-direction: column;
        gap: 30px;
    }
    .left_contact,
    .left_content_btn {
        width: 100%;
    }
    .left_content_btn {
        flex-direction: row;
        overflow-y: scroll;
        /* Скрытие полосы прокрутки */
        scrollbar-width: none;
        /* Для Firefox */
        padding-right: 30px;
    }
    .left_contact {
        padding-left: 0;
    }
    .left_content_btn::-webkit-scrollbar {
        display: none;
        /* Для Chrome, Safari и Edge */
    }
    .left_content_btn button {
        width: 100%;
        min-width: 227px;
    }
    .pc_contact_link {
        display: none;
    }
    .mob_contact_link {
        display: flex !important;
    }
    .form_opt,
    .form_btn {
        flex-direction: column;
    }
    #contact_forms {
        overflow-x: hidden;
        padding: 20px 0 100px;
    }
    .contact_form {
        background-size: cover;
        padding: 50px 20px;
        gap: 50px;
        border-radius: 33.5px;
    }
    .contact_form form {
        display: flex;
        flex-direction: column;
    }
    .contact_form,
    .right_contact {
        width: 100%;
        height: auto;
    }
    .form_title {
        font-size: 22px;
    }
    .form_btn {
        gap: 20px;
    }
    .consult_contact_box {
        flex-direction: column;
        align-items: start;
        gap: 40px;
        margin-top: 10px;
    }
    #consultation {
        overflow-x: clip;
        height: auto;
        padding-bottom: 120px;
    }
    .consultation::after {
        max-width: 214px;
        max-height: 214px;
        top: -200px;
        right: -20px;
    }
    .consult_info {
        padding: 20px 0 0 0;
    }
    .consultation_btn {
        scale: .8;
    }
    .consult_info {
        gap: 20px;
    }
    .call_box a,
    .right_top_footer .number_href {
        font-size: 24px;
    }
    .news_info .bg_btn_w,
    .news_info p {
        display: none;
    }
    .news {
        flex-direction: column;
        gap: 40px;
    }
    .news_card {
        scale: .8;
    }
    .news_content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .news_content .news_card:nth-child(2),
    .news_content .news_card:nth-child(3) {
        display: none;
    }
    #news {
        padding: 50px 0 50px 0;
    }
    .news_info {
        padding-top: 0;
    }
    .news_info h3 {
        font-size: 30px;
    }
    .bg_btn_w_none {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 206px;
        height: 31px;
        background: transparent;
        border-radius: 10px;
        border: 1px solid #858994;
        margin-top: 8px;
    }
    .bg_btn_w_none::before {
        content: url(../img/effects/catalog.png);
        display: block;
        position: absolute;
        left: 0;
    }
    footer {
        padding: 60px 30px 0 30px;
        height: auto;
    }
    .footer,
    .footer_bottom {
        flex-direction: column;
        align-items: start;
    }
    .footer,
    .left_footer {
        gap: 43px;
    }
    .center_footer ul {
        flex-wrap: wrap;
        gap: 25px;
    }
    .catalog_links_footer {
        order: -1;
    }
    .center_footer {
        order: 1;
        gap: 43px;
    }
    #footer_bottom {
        height: auto;
    }
    .footer_bottom {
        padding: 43px 0 60px;
        gap: 20px;
    }
    .footer_bottom a {
        order: -1;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 24px;
        max-width: 250px;
    }
    .catalog_page_content {
        flex-direction: column-reverse;
    }
    .cat_page_cont_header {
        flex-direction: column;
        gap: 20px;
    }
    .head_page {
        padding: 0;
    }
    #catalog_pages .head_page_info {
        padding: 50px 0;
    }
    .info_page {
        padding-right: 0;
    }
    .catalog_page_product_flex .card_slider {
        width: 256px !important;
    }
    .catalog_page_product_flex {
        justify-content: center;
    }
    .catalog_page_product_flex .card_slider_img {
        height: 234px !important;
    }
    .catalog_page_product_flex .card_slider_info {
        padding: 13px 20px 30px 20px;
    }
    .title_page h1 {
        max-width: unset;
    }
    .kroshki {
        gap: 13px;
    }
    .link_kroshki.active {
        width: 35px;
    }
    .detal_info {
        flex-direction: column-reverse;
    }
    #detal_info {
        overflow: hidden;
    }
    #detal_info .wrapper {
        padding: 60px 20px 50px 20px;
    }
    #detal_info .wrapper::before {
        width: 100%;
        left: -260px;
        top: 590px;
    }
    .d_i_flex {
        padding-left: 0;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
    .d_i_text_cont_to_img {
        flex-direction: column;
        gap: 30px;
    }
    .links_info {
        flex-wrap: wrap;
    }
    .production .video_box {
        width: 100%;
        padding: 0;
        max-width: unset;
    }
    .production .video {
        width: 100%;
    }
    .production .video img {
        width: 100%;
    }
    .backet_content {
        align-items: center;
        flex-direction: column;
    }
    .search_product {
        gap: 20px;
        border-radius: 40px;
        flex-direction: column;
    }
    .search_product_info {
        flex-direction: column;
        gap: 10px;
    }
    .search_product_parametrs {
        flex-wrap: wrap;
        max-width: 185px;
        gap: 15px;
        justify-content: space-between;
    }
    .delete_product img {
        width: 30px;
        height: 30px;
    }
    .redact_sum {
        order: 1;
        margin: 0;
    }
    .backet_info {
        width: 100%;
        max-width: 886px;
    }
    .basket_title {
        flex-direction: column;
        gap: 20px;
        justify-content: start;
        align-items: start;
    }
    .basket_title h1 {
        font-size: 24px;
    }
    .result_box {
        padding: 30px 30px;
        width: 100%;
        height: unset;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 40px 40px 0;
    }
    .result_flex {
        flex-direction: column;
    }
    .basket_sidebar {
        align-items: center;
    }
    .back_to_basket {
        margin: 0 auto;
        margin-top: 30px;
    }
    .catalog_card {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 40px 40px 0;
        height: 100%;
        flex-direction: column;
    }
    .catalog_page {
        padding: 40px 0;
    }
    .catalog_info {
        padding: 49px 0 37px 58px;
    }
    .catalog_img {
        height: 360px;
        width: 100%;
        object-fit: scale-down;
        margin: 0 auto;
    }
    .catalog_img img {
        width: 100%;
        height: 100%;
    }
}

.mob_contact_link {
    display: none;
}